{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Genres</title>
    <h2>Game by Genres</h2>
    <h3><a href="/aa">Action-Adventure</a></h3>
    <h3><a href="/arp">Action-Role Playing</a></h3>
    <h3><a href="/fps">First-Person Shooter</a></h3>
    <h3><a href="/platform">Platform</a></h3>
    <h3><a href="/sports">Sports</a></h3>
    <h3><a href="/fight">Fighting</a></h3>
    <h3><a href="/tps">Third-Person Shooter</a></h3>
    <h3><a href="/social">Social Simulation</a></h3>
</head>
<body>

</body>
</html>
{% endblock content %}