<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game by Platform</title>
    <h2>Game by Platforms</h2>
    <h3><a href="/ps2">Playstation 2</a></h3>
    <h3><a href="/xb">Xbox</a></h3>
    <h3><a href="/gc">GameCube</a></h3>
    <h3><a href="/dc">Dreamcast</a></h3>
    <h3><a href="/ps">Playstation</a></h3>
    <h3><a href="/n64">Nintendo 64</a></h3>
    <h3><a href="/x360">Xbox 360</a></h3>
    <h3><a href="/ps3">Playstation 3</a></h3>
    <h3><a href="/wii">Nintendo Wii</a></h3>
    <h3><a href="/wiiu">Nintendo Wii U</a></h3>
    <h3><a href="/xone">Xbox One</a></h3>
    <h3><a href="/ps4">Playstation 4</a></h3>
    <h3><a href="/switch">Nintendo Switch</a></h3>
    <h3><a href="/3ds">Nintendo 3DS</a></h3>
</head>
<body>

</body>
</html>
{% endblock content %}